# ROS related files
log/
build/
install/

# Latex stuff
*.log
*.aux
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.out

# Python stuff
venv/

# misc stuff
.vscode/
__pycache__/

# YOLO Test files
*.avi
yolo11n.pt 
yolov8n.pt
*.cache
